div[aria-label="Timeline: Trending now"]{
    display:none !important;
}
a[aria-label="Search and explore"]{
    display:none !important;
}
aside[aria-label="Who to follow"]{
    display:none !important;
}
